<% provide(:title,"회사") %>

<div class= "company_left">
	<%= image_tag("poot.jpg", id: "david", alt: 'david') %>
</div>

<div class= "company_right">
	<h1 class="company_header"> 회사소개 </h1>
	<p class="company_description"> 
	스트림통역번역은
	고객에게 의뢰받은 통역 및 번역물을 
	각 분야별 전문가에게 의뢰하여 
	고품질로 제공하는 회사입니다.
	</p>
</div>
