<div class= "process">
	<div class= "process_left"> 
		<h1 class= "process_sign">절차</h1>

	</div>

	<div class= "process_right">
		<ul class = "process_info">
		<li>대상언어 및 가격 확인</li>
		<li>의뢰할 정보 입력</li>
		<li>주문</li>
		<li>선입금(100%)</li>
		<li><ul class = "interpret_info_bullet">
			<li>통역사에게 자료송부.(통역사가 자료숙지 및  준비/통역 최소 2주전)</li>
			<li>통역사 점심 제공은 의무. </li>
			<li>통역 추가시간은 전화나 이메일로 문의.</li>
			</ul>
		</li>
		</ul>
	</div>
</div>