<table border="1" class="interprettable">
	<tr>
		<th>통역</th>
		<th>언어</th>
		<th>3시간</th>
		<th>6시간</th>
		<th>초과시간</th>
	</tr>

	<tr>
		<td class = "interpretleft"> 일반통역 </td>
		<td>영어</td>
		<td>190,000원</td>
		<td>290,000원</td>
		<td class = "interpretright">시간당 58,000원</td>
		
	</tr>
	<tr>
		<td class = "interpretleft"></td>
		<td>필리핀어 (Tagalog)</td>
		<td> 190,000원</td>
		<td>290,000원</td>
		<td class = "interpretright"></td>
	</tr>
</table>

<table border="1" class="interprettable">
	<tr>
		<th>통역</th>
		<th>언어</th>
		<th>3시간</th>
		<th>6시간</th>
		<th>초과시간</th>
	</tr>

	<tr>
		<td class = "interpretleft"> 전문통역 </td>
		<td>영어</td>
		<td>500,000원</td>
		<td>700,000원</td>
		<td class = "interpretright">시간당 100,000원</td>
	</tr>
		<tr>
		<td class = "interpretleft"></td>
		<td >필리핀어 (Tagalog)</td>
		<td>500,000원</td>
		<td>700,000원</td>
		<td class = "interpretright"></td>
		
	</tr>
</table>