<table border="2" class="pricetable">
	<tr>
		<th>원문엉어</th>
		<th>대상언어</th>
		<th>번역단가</th>
	</tr>
	<tr>
		<td> 영어 </th>
		<td class = "transkorean" ></td>
		<td>12,000원</td>
		
	</tr>
	<tr>
		<td> 독일어 </td>
		<td class = "transkorean">한국어</td>
		<td> 33,000원</td>
	</tr>
	<tr>
		<td> 기타 </td>
		<td class = "transkorean"></td>
		<td> 70,000원</td>
	</tr>
</table>

<table border="2" class="pricetable">
	<tr>
		<th>원문엉어</th>
		<th>대상언어</th>
		<th>번역단가</th>
	</tr>
	<tr>
		<td class = "transkorean"></th>
		<td >영어</td>
		<td>20,000원</td>
		
	</tr>
	<tr>
		<td class = "transkorean"> 한국어</td>
		<td >독일어</td>
		<td> 38,000원</td>
	</tr>
	<tr>
		<td class = "transkorean"> </td>
		<td>기타</td>
		<td> 80,000원</td>
	</tr>
</table>