<div class= "process">
	<div class= "process_left"> 
		<h1 class= "process_sign">절차</h1>

	</div>

	<div class= "process_right">
		<ul class = "process_info">
		<li>대상언어 및 가격 확인</li>
		<li>견적의뢰 및 조건확인(날짜, 가격) </li>
		<li>주문</li>
		<li>선입금(100%)</li>
		<li>번역물 확인</li>
		</ul>
	</div>
</div>