<div class= "process">
	<div class= "process_left"> 
		<h1 class= "process_sign">절차</h1>

	</div>

	<div class= "process_right">
		<ul class = "process_info">
		<li>양식 다운</li>
		<li>의뢰할 문서정보 입력(용도, 기간등)</li>
		<li>의뢰인 연락처 입력</li>
		</ul>
	</div>
</div>