@import "bootstrap";
/* Header */

#banner {
  display: block;
  margin: 0 auto;
}

.container{
  width: 980px;
}

ul.nav li.dropdown:hover > ul.dropdown-menu{
	display: block; 

}

a{
	color:#A4A4A4;
	font-weight: bold;
}

a.menu:after, .dropdown-toggle:after {
    content: none;
}

.dropdown{
	 height: 30px;
}


.navbar .dropdown-menu {
 margin-top: 0px;

}

/* Home */

.page_content{
	margin-top: 50px;
}

#myCarousel{
	width: 600px;
	float: right;
}

.home_content{
	float: left;
}


/* Footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
  small{
  	float:left
  }
}

.phone{
	float: right;
}